
<!DOCTYPE html>
<html>
  <head>
    <title>Happy birthday</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <% console.log(models);
        for(const model of models) { %>
        <tr>
          <td><%= new Date(model.date * 1000) %></td>
          <td><%= `${model.folds}/${model.epochs}` %></td>
          <td><%= `${model.fold}/${model.epoch}` %></td>
          <td><a href="/models/<%= model.id %>">show</a></td>
        </tr>
        <% } %>
        
    </table>
  </body>
</html>
