
<!DOCTYPE html>
<html>
  <head>
        <title>Happy birthday</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Test dataset: <%= name %></h3>
    <h3>Number of inputs: <%= dataset.length %></h3>



    <table id="model">
        <thead>
            <tr>
                <% for(const header in dataset[0]) { %>
                <th><%= header %></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < (100 < dataset.length ? 100 : dataset.length); i++) { %>
            <tr>
                <% for(const header in dataset[0]) { %>
            <td><%= dataset[i][header] %></td>
                <% } %>
            </tr>
            <% } %>
        </tbody>
    </table>


  </body>
</html>
