<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for(const db of databases) { %>
        <a href="/<%= db %>"><%= db %></a><br>
    <% } %>
  </body>
</html>
